@charset "UTF-8";

*{
	font-family: 'Noto Sans KR', sans-serif;
}
* a:hover{
	text-decoration: none;
	color: #cccccc;
}
* a:link{
	text-decoration: none;
	color: #cccccc;
}
* a{
	
}
.onclick-cursor-pointer{
	cursor: pointer;
}
.arealist-slide{
	cursor: pointer;
}
#main-wrapper {
	width: 100%;
	height: 650px;
	z-index: 0;
	/* overflow: hidden;*/
	/*background-image: url('https://d2mgzmtdeipcjp.cloudfront.net/files/upload/15719902424676.jpg');*/
	background-size: cover;
	background-position: 50%;
	display: flex;
}

#back-image1 {
	background-image: url('https://d2mgzmtdeipcjp.cloudfront.net/files/upload/15749313071774.jpg');
	z-index: 5;
}

#back-image2 {
	z-index: 4;
}

#back-image3 {
	z-index: 3;
}

#back-image4 {
	z-index: 2;
}

#back-image5 {
	z-index: 1;
}

.image {
	width: 100%;
	height: 650px;
	z-index: 0;
	overflow: hidden;
	background-size: cover;
	background-position: 50%;
	position: absolute;
	top: 0;
}

#main-header {
	width: 650px;
	height: 260px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 195px;
	margin-left: 14%;
	float: left;
	z-index: 7;
	color: white;
}

#main-header-items {
	width: 540px;
	height: 154px;
	position: relative;
	top: 20%;
	left: 8.5%;
	color: #ffffff;
	z-index: 1000;
	float: left;
}

#main-container {
	width: 1366px;
	height: 4000px;
	margin: auto;
}
.bar{
	border-bottom : 2px solid white;
	margin-bottom: 10px;
}
#search{
	background: none;
	color: #ffffff;
	border: none;
	width: 501px;
	height: 50px;
	margin-left: 10px;

}
#search::placeholder{
	color: #ffffff;
}

#search:focus{
	outline: none;
}
.searchbar-input-container div{
	width : 19px;
	height : 50px;
	background-image: url('https://d2mgzmtdeipcjp.cloudfront.net/files/upload/15450158976787.svg');
	background-position : center;
	background-repeat: no-repeat;
	float: left;
}
.search {
	width: 540px;
	height: 52px;
	margin-top: 35px;
}
.text2{
	color:white;
	font-size: 32px;
	font-weight: 500;
}
.searchresult-container{
	width: 540px;
	height: 483px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 17px 33px 5px rgba(0,0,0,0.1);
	border-radius: 5px;
	position: absolute;
	z-index: 999;
	display: none;
	flex-direction: column;
}
#container2{
	height: 114px;
}
.searchresult-content{
	width: 540px;
	height: 442px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
}
.searchresultitem-container{
	width: 460px;
	height: 73px;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}
.searchresultitem-title{
	color: #d91c84;
	margin-bottom: 5px;
	font-size: 18px;
}
.searchresultitem-items{
	width: 460px;
	height: 41px;
	clear: both;
}
.searchresultitem-item{
	height: 31px;
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid #e5e5e5;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 10px;
	padding-right : 10px;
	float: left;
	box-sizing: border-box;
	border-radius: 0.3em;
}
.mouseenter{
	border-color: #d91c84;
	color: #d91c84;
}
.textenter{
	color: #d91c84;
}
.searchresultitem-item div{
	color: #333333;
	font-size: 13px;
}
.main-item-container {
	width: 1366px;;
	margin-top: 130px;
	background-color: white;
	color: black;
}
.swiper-list-container{
	width: 1366px;
	height: 244px;

}

.swiper-container{
	width: 1366px;
	height: inherit;
}

 .prev-btn{
 	background-image:url(https://d2mgzmtdeipcjp.cloudfront.net/files/upload/15444220173835.svg) !important;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 10;
	background-color: white;
	color: black;
	overflow: hidden;
	left : -15px;
	box-shadow: rgba(0,0,0,0.14) 0px 1px 1px 1px;
	top : 45%;
	position: absolute;
	display: inline;
	background-image:url("https://d2mgzmtdeipcjp.cloudfront.net/files/upload/15444219149307.svg");
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	
}

.next-btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 10;
	background-color: white;
	color: black;
	overflow: hidden;
	right : -2px;
	box-shadow: rgba(0,0,0,0.14) 0px 1px 1px 1px;
	background-repeat: no-repeat;
	top: 45%;
	position: absolute;
	display: inline;
	background-image:url("https://d2mgzmtdeipcjp.cloudfront.net/files/upload/15444219149307.svg");
	background-size: 18px;
	background-position: center;
}


.main-swiper-next-btn {
  display: inline-flex; }

.main-swiper-next-btn.swiper-button-disabled {
  display: none !important; }

.main-swiper-prev-btn.swiper-button-disabled {
  display: none !important; }
  
.swiper-wrapper{
	width: 100%;
	height: 244px;
}
.container3 {
	height: 334.25px;
}
.arealist-slide{
	width: 157.5px;
	height: 244px;
}
.area-card-container{
	width: 157.5px;
	height: 244px;
	border : solid white 1px;
	border-radius: 0.3em;
	overflow: hidden;
}
.area-card-content{
	width: 157.5px;
	height: 244px;
	float: left;
	
}

.area-card-content {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}
.area-card-content:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.area-card-text{
	color: #ffffff;
	position: absolute;
	top: 88%;
	left: 8%;
}
.main-itemtitle{
	margin-bottom: 15px;
	padding-left: 10px;
}
.main-itemtitle-title{
	color: #333333;
	font-size: 24px;
}

.main-itemtitle-sub{
	color: #999999;
	font-size: 15px;
}
.main-itemsubbtn{
	height: 42px;
	margin: auto;
	margin-top: 40px;
	border: 1px solid rgb(229,229,229); 
	border-radius: 3em;
}
.subbtn1{
	width: 240px;
}
.subbtn2{
	width: 130px;
}
.text{
	padding-left: 40px; 
	padding-right: 40px;
	color: rgb(51,51,51);
	font-size: 12px;
	text-align: center;
	text-indent: 0em;
	line-height: 42px;
	font-family: 'Noto Sans KR', sans-serif;
}

.watemlist-slide{
	width: 330px;
	height: 233px;
}
.main-watem-container{
	width: 330px;
	height: 233px;
	border-radius: 0.4em;
}
.main-watem-text{
	font-size: 30px;
	color: white;
	text-align: center;
	line-height: 233px;
	font-weight: 900;
}
.goodlist-slide{
	width: 261px;
	height: 334.25px;
}

.good-card-wrapper{
	width: 261px;
	height: 334.25px;
	overflow: hidden;
}
.good-card-background-image-cover{
	width: 261px;
	height: 175.25px;
	overflow : hidden;
	border-radius: 0.3em;
}
.good-card-text-wrapper{
	width: 241px;
	height: 142px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.good-card-thunder-icon{
	width: 10px;
	height: 10px;
	margin : 4px 2px;
}
.good-card-available-date{
	/* 오늘부터 사용가능이면 
	color : #d91c84;
	 */
	padding-bottom: 4px;
	font-size: 12px;
	font-weight: 500;
}
.good-card-text-wrapper .point-color{
	color : #d91c84;
}
.good-card-title{
	color: #333333;
	font-size: 16px;
	font-weight: 700;
	height: 48px;
}
.good-card-wish-btn{
	background-image: url("https://d2mgzmtdeipcjp.cloudfront.net/files/upload/15653295914590.svg");
	width: 24px;
	height: 24px;
	background-size: cover;
	left: 50%;
	top: 50%;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	left: 217px;
	top : 0px;
}
.good-card-wish-btn-whis{
	background-image: url("https://d2mgzmtdeipcjp.cloudfront.net/files/upload/15653296786777.svg");
}
.good-card-original-price{
	color: #999999;
	font-size: 12px;
	margin-top: 6px;
	text-decoration: line-through;
}
.good-card-price{
	color: #333333;
	font-size: 16px;
	float: left;
	font-weight: bold;
	font-weight: 700;
	align-items: baseline;
}
.good-card-coupon-text{
	color : #d91c84;
	font-size: 13px;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
	margin-right: 3px;
	float: left;
	white-space: nowrap;
	font-weight: 700;
}
.good-card-buy-cnt{
	font-size: 12px;
	color: #999999;
	clear: both;
}
.themelist-slide{
	width: 445px;
	height: 302px;
}
.theme-card-container{
	width: 445px;
	height: 302px;
}
.theme-card-image{
	width: 445px;
	height: 228px;
	border-radius: 0.3em;
}
.container4{
	
	height: 302px;
}
.theme-card-cc-category{
	color: #d91c84;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.theme-card-cc-title{
	color: #333333;
	font-size: 15px;
	font-weight: bold;
}
.theme-card-cc-content{
	color:  #999999;
	font-size: 13px;
}


.filebox label { 
	display: inline-block; 
	padding: .5em .75em; 
	color: #999; 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #fdfdfd; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
} 
.filebox input[type="file"] { 
	/* 파일 필드 숨기기 */ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}

.waugpartner-slide{
	width: 156px;
	height: 97.931px;
}
.waugpartner-image{
	width: 156px;
	height: 62px;
}
.waugappinfo-buttoncontainer{
	width: 300.75px;
	height: 153px;
	position: relative;
	bottom : 240px;
	left: 8%;
}
.waugappinfo-title{
	width : 300.75px;
	font-size: 36px;
	color: rgb(255,255,255);
}
.waugappinfo-text{
	color: #ffffff;
	margin-bottom: 30px;
	font-size: 16px;
}
.waugappinfo-button{
	width: 300.75px;
	height: 45px;
}
.waugappinfo-button .left{
	margin-right: 18px;
	border-radius: 0.3em;
	float: left;
}
.waugappinfo-button .right{
	border-radius: 0.3em;
	float: right;
	
}
