@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
*{font-family: 'Noto Sans KR', sans-serif;padding:0;margin: 0;}

.order_container{
	margin-top: 120px;
}
.order_row{
	width: 1170px;
	margin: 0 auto;
}
.order_col_md{
	width: 572px;
	padding:0 6.5px;
	float: left;
}
.order_user_infoBox{
	width: 490px;
	padding: 40px;
	border:1px solid #dadada;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	overflow: auto;
	border-radius: 5px;
}
.order_user_infoBox_title{
	height: 34px;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	padding-bottom: 24px;
}
.order_reser_info{
	padding-top: 20px;
	/***********************************************basic setting*/
}
.order_reser_info>img{
	width: 174px;
	height: 100px;
	margin-bottom: 20px;
	border-radius: 4px;
	float: left;
}
.order_reser_info_text{
	float: left;
	margin-bottom: 20px;
}
.order_reser_info_text>b{
	color: #d91c84;
	font-size:20px;
	font-weight:700;

}
.order_reser_info_text>p{
	color:gray;
	font-size: 14px;
	font-weight: 600;
}
.order_reser_options{
	height: 50px;
	margin: 4px 0;
}
.order_reser_option_left{
	float: left;
	width: 50%;
}
.order_reser_option_left>p{
	color: #999;
	font-size: 10px;
}
.order_reser_option_right{
	width: 50%;
	float: right;
	text-align: right;
}
.order_reser_border{
	border-bottom: 1px dashed #bbb;
	margin: 20px 0;
}
.order_reser_pay{
	padding: 13px;
	border:1px solid #dadada;
	border-radius: 5px;
	margin-bottom: 10px;
	line-height: 34px;
}
.order_reser_pay_click{
	padding: 13px;
	border:1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	/*line-height: 36px;*/
}
.order_reser_pay>img{
	width:25px;
	height: 25px;
	padding-right: 12px;
}
.order_reser_pay>span{
	font-size: 13px;
	font-weight: 500;
}
.pay_credit{
	display: none;
	width: 380px;
	padding: 24px 16px;
	overflow: hidden;
}
.pay_credit_title{
	width: 348px;
	height: 36px;
	padding: 4px 10px;
	font-size: 12px;
	color: #333;
	display: block;
}
.interest_freeBox{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
}
.interest_freeBox_modal{
	width: 470px;
	/*height: 500px;*/
	padding: 30px;
	background: white;
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	overflow: auto;
}
.interest_freeBox_title{
	padding-bottom: 16px;
	font-size: 16px;
	font-weight: 700;
	color: #07141c;

}
.interest_free_li_wrapper{
	width: 400px;
}
.interest_freeBox ::-webkit-scrollbar{
	width: 10px;
}
.interest_freeBox ::-webkit-scrollbar-thumb{
	background: #888;
	border-radius: 5px;
}
.interest_freeBox_close{
	height: 30px;
	padding: 10px 0;
	margin-top: 20px;
}
.interest_freeBox_close_btn{
	width: 120px;
	height: 30px;
	text-align: center;
	margin: 0 auto;
	background: white;
	border: 1px solid gray;
	border-radius: 4px;
	line-height: 30px;
}
.interest_freeBox_close_btn:hover{
	color:darkgray;
	border: 1px solid gray;
}
.interest_freeBox_li{
	height: 36px;
	padding: 10px 0;
	border-bottom: 1px solid #333;
	width: 400px;
}
.credit_kind{
	width: 348px;
	overflow: hidden;
	margin-bottom: 20px;
}
.credit_select{
	width: 100%;
	border:1px solid #dadada;
	border-radius: 4px;
}
.credit_select:hover{
	border:1px solid #d91c84;
}
.pay_credit_title>strong>b{
	cursor: pointer;
}
.card{
	width: 75px;
	margin: 5px;
	border:1px solid #dadada;
	padding: 5px;
	float: left;
	text-align: center;
}
.card_clicked{
	border:1px solid black;
	width: 75px;
	margin: 5px;
	padding: 5px;
	float: left;
	text-align: center;
}
.order_reser_coupon_title{
	color: rgb(66, 66, 66);
	font-size: 14px;
	font-weight: 500;
	padding-left: 4px;
	margin-bottom: 8px;
}
.apply_couponANDpoint{height: 40px; margin-bottom: 20px; flex-direction: row;}
.apply_couponBox_text{
	height: 38px;
	padding: 4px;
	line-height: 30px;
	color: #b5b5b5;
}
#apply_couponBox{
	height: 38px;
	border:1px solid rgb(204, 204, 204);
	padding: 0 25px 0 15px;
	width: 250px;
	border-radius: 3px;
	float: left;
	display: flex;
	margin-right: 20px;
}
#btn_modal_coupon{	
	height: 38px;
	padding: 8px 22px;
	margin: 0 15px 0 20px;
	background: #b5b5b5;
	color: white;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	border-radius: 3px;
	text-shadow: none;
	border:none;
	display: flex;
}
#apply_pointBox{
	height: 38px;
	border:1px solid rgb(204, 204, 204);
	padding: 0 25px 0 15px;
	width: 250px;
	border-radius: 3px;
	float: left;
	margin-right: 20px;
}
#btn_modal_point{
	height: 38px;
	padding: 8px 22px;
	margin: 0 15px 0 20px;
	background: #b5b5b5;
	color: white;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	border-radius: 3px;
	text-shadow: none;
	border:none;
	display: flex;
}
.order_reser_info>p{
	font-size:13px;
	font-weight:400;
	color: rgb(51, 51, 51);
}
.order_reser_info strong{
	color: #d91c84;
}
.order_reser_info input[type="checkbox"]{
	margin-right: 20px;
}
.order_reser_info .forcheck{
	padding: 9px;
	font-size:13px;
	font-weight:500;
}
.order_reser_btn_md{
	height: 57px;
	border:1px solid #bbb;
	padding: 6px 16px 0 16px;
	margin: 12px 0;
	line-height: 51px;
	border-radius: 3px;
	font-size:13px;
	font-weight:500;
}
#view_all{
	cursor: pointer;
}
.total_payment{
	font-size: 20px;
	font-weight: 400;
}
.total_payment_price{
	font-size: 20px;
	font-weight: bold;
}
.order_reser_pay_btn{
	text-align: center;
	color: white;
	background: linear-gradient(45deg, rgb(245, 3, 100) 1%, rgb(172, 66, 169) 100%);
	font-size: 14px;
	font-weight: 400;
	border:none;
}
.order_reser_pay_btn:hover{
	box-shadow: 1px 1px 10px 1px gray;
}
/* * ** **** ***** *** *** ****** ******* ***** ****** ***** *********** order _ info ******* *********** ******* *********** **** **** ****** **** *** */
/* * ** **** ***** *** *** ****** ******* ***** ****** ***** *********** order _ info ******* *********** ******* *********** **** **** ****** **** *** */
.order_wrapper{
	width: 1140px;
	margin: 0 auto;
	padding-bottom:200px;
}
.order_infoBox{
	border: 1px solid #ededed;
	border-radius: 10px;
	padding: 40px;
	width: 768px;
	margin: 40px auto;
	color: #333333;
}
.order_info_title{
	font-size:24px;
	font-weight:700;
}
.order_info_title_text{
	margin: 10px 0 24px 0;
	height: 18px;
	font-size: 13px;
	font-weight: 400;
}
.order_fields_input{
	font-size:13px;
	font-weight:400;
	margin-bottom: 6.5px;
	height: 40px;
}

.order_info_fields_title{
	height: 20px;
	font-size: 15px;
	margin: 20px 0 8px 4px;
	font-weight: bold;
}
.order_info_good_title{
	font-size: 18px;
    color: #d91c84;
    font-weight: bold;
    margin-top: 40px;
}
.order_inputBox p{
	margin-bottom: 10px;
    color: #888;
    font-size: 12px;
    padding-left: 4px;
}

.order_fields_input input[type="text"],
.order_fields_input input[type="checkbox"],
.order_fields_input input[type="date"],
.order_fields_input input[type="email"],
.order_fields_input input[type="month"],
.order_fields_input input[type="number"],
.order_fields_input input[type="radio"],
.order_fields_input input[type="tel"]{
	border: 1px solid #dedede;
	padding: 6px 10px;
	margin-right: 10px;
	text-align:start;
	text-indent:0px;
	text-rendering:auto;
	text-shadow:none;
	font-size:13px;
	font-stretch:100%;
	font-weight: 400;
	background: white;
	border-radius: 5px;
	height: 40px;
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 190px;
	height: 40px;
	border: 1px solid #dedede;
	padding: 6px 10px;
	margin-right: 10px;
	font-family: inherit;
	/*background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;*/
	border-radius: 5px;
}
/*test*****************************************************************/
select>option{
	width:inherit;
	font-size: 12px;
	color:green; 
}
/*test*****************************************************************/
.order_fields_input input[type="text"]:hover,
.order_fields_input input[type="checkbox"]:hover,
.order_fields_input input[type="date"]:hover,
.order_fields_input input[type="email"]:hover,
.order_fields_input input[type="month"]:hover,
.order_fields_input input[type="number"]:hover,
.order_fields_input input[type="radio"]:hover,
.order_fields_input input[type="tel"]:hover{
	border: 1px solid #d91c84;
	background: white;
	border-radius: 5px;
}
/*****************************************************************************************************detail input tags css*/
input[type="text"].input_lg{
	width: 478px;
}
input[type="text"].input_md{
	width: 178px;
}
input[type="email"].input_lg{
	width: 478px;
}
input[type="email"].input_md{
	width: 478px;
}
/*****************************************************************************************************detail input tags css*/

input:focus{
	outline-color: #d91c84;
}

.order_footer_wrapper{
	margin: 25px 0;
	text-align: center;
}
.order_submit{
	width: 420px;
	height: 50px;
	padding: 8px 22px;
	margin: 0 auto;
	background: linear-gradient(45deg, rgb(245, 3, 100) 1%, rgb(172, 66, 169) 100%);
	border-radius: 4px;
	border:none;
	text-align: center;
	color: white;
}
.order_submit:hover{
	box-shadow: 1px 1px 10px 1px gray;
	/*5px 5px 5px 5px gray inset;*/
	/*box-shadow: none | x-position y-position blur spread color | inset | initial | inherit*/
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* * ** **** ***** *** *** ****** ******* ***** ****** ***** *********** calender ******* *********** ******* *********** **** **** ****** **** *** */
/* * ** **** ***** *** *** ****** ******* ***** ****** ***** *********** calender ******* *********** ******* *********** **** **** ****** **** *** */
#reser_page_div{
	margin-top:70px;
}
.reser-flex-box{
	width: 1170px;
	height: 560px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.reser_title_wrapper{
	height: 56px;
	margin: 0 10px;
}
.reser_title{
	height: 36px;
	margin: 20px 10px 0 40px;
	font-size: 24px;
	font-weight: 600;
}
.reser_cal_wrapper{
	width: 605px;
	color:#484848;
}
.reser_calBox{
	padding: 0 10px;
}
.reser_cal_yearANDmonth{
	width:555px;
	height: 27px;
	line-height: 27px;
	margin:22px 0 37px 0;
	margin-left: 30px;
}
.reser_cal_yearANDmonth>span{
	float: right;
	margin:0px 10px;
	width:33px;
	height: 27px;
}
.reser_cal_yearANDmonth>b{
	margin:0 3px;
	color:#484848;
	height: 20px;
	font-size:16px;
}
.dayBox{
	width:585px;
	height:20px;
}
.day{
	width:83.5px;
	float: left;
	text-align: center;
	height: 20px;
	line-height: 20px;
}
#dateBox{
	width:585px;
}
.date{
	width:83.5px;
	height: 83.5px;
	line-height: 83.5px;
	text-align: center;
	float: left;
}
.date:hover{
	background:#f2f2f2;
}
.date-active{
	background:#d91c83;
	color:white;
}
.reser_cal_yearANDmonth>span>img{
	width:10px;
	height: 20px;
	margin:0 11.5px;
}
.reser_option_wrapper{
	width: 500px;
	height: 495px;
	margin: 10px 0 0 35px;
}
.reser_division{
	display: flex;
	flex-direction: row;
	color:#333333;
}
.reser_option_title{
	width: 480px;
	margin: 0 10px;
	font-size: 20px;
}
.reser_option_selected_date{
	font-size: 16px;
	color:#d91c84;
}
.reser_option_item{
	width: 480px;
	height: 44px;
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid  #e5e5e5;
}
.reser_option_item_title{
	height: 23px;
	font-size: 16px;
}
.reser_option_item_price{
	height: 20px;
	font-size: 14px;
}
/******************reser_modal*/
#reser_modal{
	display: none;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.reser_modal_wrapper{
	padding: 30px;
	position: absolute;
	right: 0px;
	background: white;
	width: 30%;
	height: 100%;
}
#reser_modal_close{
	display: block;
	font-size: 20px;
	width: 20px;
	height: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}
.reservation_btn_wrapper{
	width:100%;
}
.reser_numberOfUserBox{
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
.reser_user_adult{
	display: inline-block;
	float: left;
	width: 30%;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
}
.user_num_controll{
	width: 25%;
	height:40px;
	text-align: center;
	line-height: 40px;
	float: left;
}
#user_num_show{
	width: 50%;
	height: 37px;
	text-align: center;
	line-height: 37px;
	float: left;
	font-size: 14px;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}
.reser_user_number{
	display: inline-block;
	float: right;
	width: 30%;
	height: 38px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	border:1px solid #999999;
	border-radius: 3px;
}
#reservation_btn{
	width:47%;
	height: 50px;
	background: linear-gradient(45deg, rgb(245, 3, 100) 1%, rgb(172, 66, 169) 100%);
	float:right;
	border:none;
	border-radius: 1px;	
	color:white;
}
#cart_btn{
	width:47%;
	height: 50px;
	background:white;
	float:left;
	border:none;
	border-radius: 1px;	
	border:1px solid #999999;
}
#reservation_users_order_total_price{
	width: 100%;
	height: 50px;
	border:1px solid #999999;
	border-radius: 1px;
	background:white;
	text-align: center;
	line-height: 50px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}
#reser_modal_close:hover{
	cursor: pointer;
}
.reser_modal_info{
	color: #2f3241;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.reser_modal_title{
	font-size:24px;
	font-weight:700;
}
.reser_modal_option_selected{
	height: 24px;
	font-size:16px;
	font-weight:500;
}
.reser_modal_option_date{
	color: #d91c83;
	height: 24px;
	font-size:16px;
	font-weight:500;
}

/* 쿠폰발급페이지 */
#event-wrapper{
	margin-top: 70px;
}
#event-content img{
	width: 100%;
	vertical-align: middle;
}
.event-content-button-content{
	margin-top:-5px;
}
.hidden{
	display: none;
}

/* 쿠폰함 모달 */
.coupon-modal-content{
	width: 768px;
	height: 100%;
	display: table;
	max-width: none !important;
	margin: 0 auto;
}
.coupon-modal-outer{
	display: table;
	width: 100%;
	height: 100%;
}
.coupon-modal-inner{
	display: table-cell;
	vertical-align: middle;
}
.coupon-modal-box{
	width: 900px;
}
.coupon-modal-box-top-info{
	background: rgba(245,245,245,1);
	border-radius: 4px 4px 0 0;
	padding: 35px 70px 30px;
	position: relative;
}
.global-modal-cancel-btn{
	border: none;
	position: absolute;
	background: #333;
	z-index: 1;
	width: 46px;
	height: 46px;
	top: -28px;
	right: -28px;
	border-radius: 50%;
	padding: 4px;
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
	cursor: pointer;
}
.global-modal-cancel-ic{
	position: absolute;
	margin:auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 16px;
}
.coupon-box-title{
	font-size: 28px;
	font-weight: bold;
	padding-left: 10px;
}
.coupon-code-input-box-content{
	margin-top: 10px;
	display: flex;
}
.coupon-code-input-box{
	border-radius: 4px;
	height: 40px;
	width: 400px;
	border-style: none !important;
	padding-left: 20px;
}
.coupon-code-success-btn{
	background-color: rgb(245,3,100);
	background: linear-gradient(45deg, rgb(245, 3, 100) 1%, rgb(172, 66, 169) 100%);
	border-style: none;
	border-radius: 4px;
	margin-left: 10px;
	color: white;
	padding:10px 20px 10px 20px;
	width: auto;
}
.coupon-list-wrap{
	background: rgba(245,245,245,1);
	padding: 15px 60px;
}
.coupon-filter{
	display: flex;
	padding: 0 20px 15px 20px;
	font-weight: 500;
	cursor: pointer;
}
.coupon-filter-btn.active{
	color: #333;
}

.coupon-filter-btn.active span{
	color: #fd0167;
}
.coupon-filter-btn{
	color: #ccc;
}
.coupon-filter-impossible-text{
	padding-left: 20px;
}
.coupon-card-content{
	flex-wrap: wrap;
	margin-bottom: 20px;
	display: flex;
}
.coupon-card-content.carousel{
	width: 100%;
}
.slick-slider{
	margin-bottom: 30px;
	position: relative;
	user-select:none;
	touch-action:pan-y;
}
.slick-intialized{
	overflow: visible;
	display: block;
}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-slide{
	float: left;
	height: 100%;
	min-height: 1px;
}
.coupon-shape-box{
	background: url(../images/coupon_shape.svg);
	height: 190px;
	width: 390px;
	background-size: contain;
	display: flex;
	cursor: pointer;
}
.card-left-box{
	height: 190px;
	width: 270px;
	padding-left: 36px;
	padding-top:30px;
	background-color: white;
	border-radius: 15px;
	cursor: pointer; 
}
.coupon-title-text{
	font-size: 20px;
	color: #212121;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 230px;
	height: 26px;
}
.coupon-code-text{
	font-size: 12px;
	color: #212121;
	padding-top: 4px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 230px;
}
.coupon-left-box-bottom{
	margin-top: 36px;
	font-size: 13px;
	font-weight: 400;
}
.coupon-terms-of-use{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-height: 20px;
	font-size: 13px;
}
.coupon-validity{
	color: #999;
	padding-top: 4px;
	font-size: 13px;
}
.card-right-box{
	height: 190px;
	width: 120px;
	display: table;
	background-color: white;
	border-radius: 15px;
	cursor: pointer; 
}
.card-right-inner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.slick-slide img{
	max-height: 420px;
	display: block;
}
.coupon-using-btn-ic{
	width: 14px;
	margin:  0px auto 6px;
	height: auto !important; 
}
.coupon-using-btn{
	font-size: 12px;
	text-align: center;
	font-weight: 400;
}
.coupon-primary-color-text{
	color: #fd0167;
}
.coupon-card-content{
	flex-wrap: wrap;
	margin-bottom: 5px;
}
.coupon-discounted-amount{
	font-size: 15px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 30px;
}
.coupon-discounted-amount-btn{
	width: 240px;
	margin-top: 12px;
}
.coupon-code-success-btn{
	background-color: rgb(245,3,100);
	background: rgb(45deg, rgb(245, 3, 100) 1%, rgb(172, 66, 169) 100%);
	border-style: none;
	border-radius: 4px;
	margin-left: 10px;
	color: white;
	padding: 10px 20px 10px 20px;
}
.coupon-modal-box-foot-info{
	border-radius: 0 0 4px 4px;
	background: #333;
	padding: 20px 70px 30px 70px;
	color: #999;
	font-size: 14px;
	font-weight: 400;
}
.coupon-notice-list-text{
	padding: 4px 0 0;
	font-size: 13px;
	color: #fff;	
}





















