<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="adminMapper">
  
  <insert id="city_add" parameterType="NationVO">
  	insert into nationinfo values (nationinfo_seq.nextval, #{continents},#{nation},#{city_name},#{city_img},#{city_img2},0)
  </insert>
  <select id="city_list" resultType="NationVO">
  	select * from nationinfo order by continents, nation
  </select>
   <select id="check_city" resultType="NationVO" parameterType="NationVO">
  	select city_name from nationinfo where city_name=#{city_name}
  </select>
  
  <insert id="addTheme" parameterType="ThemeVO">
  		insert into theme values(theme_seq.nextval, #{t_title}, #{t_img}, #{t_subtitle}, #{t_subject})
  		
  	</insert>
  	
  	<select id="selectTheme" parameterType="ThemeVO" resultType="ThemeVO">
  		select * from theme where t_num = #{t_num}
  	</select>
  	
  	<update id="theme_update" parameterType="ThemeVO">
  		update theme set t_title=#{t_title}, t_img=#{t_img}, t_subtitle=#{t_subtitle} , t_subject=#{t_subject} where t_num=#{t_num}
  	</update>
  	
  	<delete id="theme_delete" parameterType="ThemeVO">
  		delete theme where t_num=#{t_num}
  	</delete>
  	
  	<resultMap type="ReviewVO" id="reviewFile">
		<id property="rv_num" column="rv_num"/>
		<result property="goods_num" column="goods_num"/>
		<result property="email" column="email"/>
		<result property="rv_writer" column="rv_writer"/>
		<result property="rv_contents" column="rv_contents"/>
		<result property="rv_reg_date" column="rv_reg_date"/>
		<result property="rv_score" column="rv_score"/>
		<result property="rv_ex" column="rv_ex"/>
		<result property="rv_aname" column="rv_aname"/>
		<result property="rv_adate" column="rv_adate"/>
		<result property="rv_acontents" column="rv_acontents"/>
		<result property="title2" column="title2"/>
		<result property="img" column="img"/>
		<collection property="images" javaType="java.util.List" ofType="ReviewImgVO">
			<id property="rv_img_num" column="rv_img_num"/>
			<result property="rv_num" column="rv_num"/>
			<result property="img_name" column="img_name"/>
		</collection>
		
	</resultMap>
  	
  	<select id="review_list" parameterType="Pager" resultMap="reviewFile">
  		select * from
		(select *from
		(select R.*, rownum N from
		(select goods_num, title title2, img, rv_num, rv_writer, rv_contents, rv_score, to_char(rv_reg_date,'yyyy-mm-dd') rv_reg_date, 
		rv_ex, rv_aname, rv_adate, rv_acontents
		from goods inner join review1 using(goods_num) 
		order by rv_num desc) R)
		where N between #{startRow} and #{lastRow}) left outer join review_img using(rv_num)
  	</select>
  	
  	<select id="review_count" resultType="Integer" parameterType="Pager">
  		select count(rv_num) from review1
  	</select>
  	
  	<select id="count_review_new" resultType="Integer">
  		select count(rv_num) from review1 inner join review_check on 1=1
		where rv_reg_date > review_check.check_date
  	</select>
  	<select id="review_select" parameterType="ReviewVO" resultType="ReviewVO">
  		select R.*, G.img, G.title title2 from review1 inner join goods using(goods_num) where rv_num=#{rv_num}
  	</select>
  	
  	<update id="check_update">
  		update review_check set check_date=sysdate
  	</update>
  </mapper>