<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="goodsMapper">
  <select id="goodsRecomand" parameterType="MemberVO"  resultType="GoodsVO">
  	select goods_num,price,discount,coupon,location,able,city_num,o_num,qtt,title,t_num,img, 1 wish
		from goods 
		where goods_num in(select goods_num from wishlist where email=#{m_pk})
	union
	select * 
		from goods 
		where goods_num not in(select goods_num from wishlist where email=#{m_pk})
  </select>
  
  
  
</mapper>