<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="goodsMapper">

<select id="selectGoodsInfo" resultType="InfoVO" parameterType="Integer">
	select * from info where goods_num=#{goods_num}
</select>
<!-- 12.12 updat -->
<insert id="goodsInsert" parameterType="GoodsVO">
	insert into goods values(#{goods_num}, #{price}, #{discount}, #{coupon},
	#{location},#{able},#{city_num},#{o_num},#{qtt},#{title},#{t_num},#{img},0,#{cate_num},
	#{program},#{charming},#{included},#{not_included},#{how_to_use},#{remember},#{cancel},#{img1},#{img2},#{img3},#{img4})
</insert>
<!-- 12.11 updat******************************************* -->

	<sql id="bs">
		<choose>
			<when test="kind == 'good'">
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'city'">
				where city_name like '%'||#{search}||'%'
			</when>
			<when test="kind == 'theme'">
				where t_title like '%'||#{search}||'%'
			</when>
			<otherwise>
				where cate_name like '%'||#{search}||'%' or cates_name like '%'||#{search}||'%'
			</otherwise>
		</choose>
	</sql>

  <select id="goodsRecomand" resultType="GoodsVO">
  	select * from goods
  </select>
  

  <select id="areaRecomand" resultType="NationVO">
  	select * from nationinfo
  </select>
  
  
  <select id="areaSelect" parameterType="NationVO" resultType="NationVO">
  	select * from nationinfo where city_num=#{city_num}
  </select>
  
  <select id="goodsList" resultType="GoodsVO">
  	select A.*, B.city_name city_name, C.t_title t_title from goods A, nationinfo B, theme C
		where A.city_num = B.city_num and A.t_num = C.t_num
  </select>

  <select id="goodsSelectOne" resultType="GoodsVO" parameterType="Integer">
  	select * from goods where goods_num=#{goods_num}
  </select>
  
</mapper>