@charset "UTF-8";

body{
	box-sizing: border-box;
	height: 100%;
    font-family: 'Noto Sans KR', 'Noto Sans Korean', 'Roboto', 'Sans-serif';
    color:#333;
    line-height: 1.42857143;
}
div{
	display: block;
}
#wrapper{
	width: 100%;
	border: 1px solid pink;	
}

#wrapper_page{
	padding-top:50px;
	padding-bottom: 50px;
}

.wrapper-header{

	width:100%;
	height:100%;
	background-image: url("https://d2mgzmtdeipcjp.cloudfront.net/files/main/2018/07/15/15316446659344.png?s=1900x450");
	background-repeat:  no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	

}
.area-header-image{
	height: 40vh;
}

.header-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	
}
.header-title h1{
	font-size: 64px;
	font-weight: 500;
	color: white;
	
}

.theme_box{
	width: 33.333333%;
	padding: 12px;

}

.theme_box img{
	border-radius: 4px;
	display: block;
	object-fit:cover;
	width: 100%;
	height: 220px;
}

.theme_info_box{
	padding: 16px 6px 0 6px;
}
.row{
	clear: both;
	margin-left: -15px;
	margin-right: -15px;
	border: 1px solid black;
}
.row-title{

	text-align: left;
	margin: 50px 0 12px 0px;
	font-weight: 600;
	font-size: 24px;
	color: rgba(0,0,0,0.7);
	letter-spacing: -0.3px;

}

.row-title-margin{
	margin-top: 70px;
	margin-bottom: 30px;
	
}
.row-title .sub{
	font-size: 15px;
	font-weight: 400;
	color: #9a9a9a;
	margin: 2px 0 0 0;
}
.good_card_box{
	
	float: left;
	background-color:green;
	width: 25%;
	padding: 8px 12px 12px 12px;


}
.area_goods_space{
	float: right;
	width: 66.6666667%;
	background-color: purple;
}
.m_good_card_box{
	
	max-width: 360px;
}

.catecory-nav{
	width: 25%;
}