<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.wg.p1.util.Pager" alias="Pager"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="com.wg.p1.model.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.wg.p1.model.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="com.wg.p1.model.GoodsVO" alias="GoodsVO"/>
		<typeAlias type="com.wg.p1.model.WishListVO" alias="WishListVO"/>
		<typeAlias type="com.wg.p1.model.NationVO" alias="NationVO"/>
		<typeAlias type="com.wg.p1.model.ThemeVO" alias="ThemeVO"/>
		<typeAlias type="com.wg.p1.model.CategoryVO" alias="CategoryVO"/>
	</typeAliases>
</configuration>